<div class="p-5 w-75">
  <h1 class="mb-2 pb-2 border-bottom">
    New task
  </h1>

  <div class="my-5">
    <%= form_with model: @new_task do |f| %>
      <p class="m-0">
        <%= f.label :title, class: "form-label"%>
      </p>
      <p>
        <%= f.text_field :title, class: "form-control w-75" %>
      </p>
      <p class="m-0">
        <%= f.label :details, class: "form-label" %>
      </p>
      <p>
        <%= f.text_field :details, class: "form-control w-75" %>
      </p>

      <div class="my-4">
        <%= f.submit "Create Task", class: "btn btn-success"%>
      </div>

    <% end %>
  </div>

  <div class="pt-2 border-top">
    <p>
      <%= link_to "↺ Back to lists", tasks_path, class: "link-success link-underline-opacity-0 link-underline-opacity-100-hover link-offset-2-hover" %>
    </p>
  </div>
</div>
